[Desktop Entry]
StartupNotify=true
Version=1.0
Name=RuneScape (NXT)
Type=Application
Icon=runescape
Exec=/usr/local/bin/runescape-launcher
TryExec=/usr/local/bin/runescape-launcher
Categories=Game;RolePlaying;
